{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container content-container pb-5 mx-auto">
    <div class="container py-5 p-3">
        <div class="row">
            <div class="col-12 mx-auto text-center">
                <h1>
                    {{ tutorial.title }}
                </h1>
            </div>
        </div>
    </div>
    <div class="container" id="container-margin">
        <div class="row g-4">
            <div class="col-12 col-md-4 text-center">
                {% if "placeholder" in tutorial.image.url %}
                <img class="tutorial-detail-image" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                {% else %}
                <img class="tutorial-detail-image" src="{{ tutorial.image.url }}" alt="{{ tutorial.alt_text }}">
                {% endif %}
            </div>
            <div class="col-12 col-md-8 custom-padding">
                <div class="card h-100 border-0 custom-card-background">
                    <div class="card-body custom-card-body">
                        <p class="card-text">
                            {{ tutorial.description | safe }}
                        </p>
                        <p class="card-text">
                            <strong>
                                Tutor:
                            </strong> 
                            {{ tutorial.tutor_name }}
                        </p>
                    </div>
                    <div class="card-footer custom-card-footer border-top-0 bg-transparent">
                        {% if user.is_authenticated %}
                            <a href="{% url 'book_a_tutorial' %}" class="btn custom-btn" aria-label="Book tutorial">
                                Book tutorial
                            </a>
                        {% else %}
                            <a href="{% url 'account_signup'  %}" class="btn custom-btn"
                                aria-label="Login or Register to book">
                                Sign Up / Sign In to book
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}