{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- book_tutorial.html code starts here -->
<!-- FullCalendar widget -->
<div id="tutorial-calendar"></div>

<!-- Expired Modal starts here -->
<div class="modal" tabindex="-1" id="expiredModal" aria-labelledby="expiredModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expiredModalLabel">Tutorial Date Expired</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This tutorial is no longer available. Please select any available dates.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Expired Modal ends here -->
<!-- book_tutorial.html code ends here -->
{% endblock %}

{% block js %}
<!-- populates the event calendar -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let tutorialCalendar = document.getElementById('tutorial-calendar');
        let calendar = new FullCalendar.Calendar(tutorialCalendar, {
            initialView: 'dayGridMonth',
            validRange: {
                start: '2024-08-01'
            },
            headerToolbar: {
                left: 'prev',
                center: 'title',
                right: 'next'
            },
            eventTimeFormat: {
                hour: 'numeric',
                minute: '2-digit',
                meridiem: 'short'
            },
            events: [
                {% for event in events %}
                {
                title: '{{ event.title }}',
                start: '{{ event.start_date }}T{{ event.start_time }}',
                end: '{{ event.start_date }}T{{ event.end_time }}',
                id: '{{ event.pk }}',
                slug: '{{ event.slug }}',
            },
            {% endfor %}
            ],
        eventClick: function (info) {
            /* Function that enables and disables clickable events
             based on the current date. Used resources noted in the Readme.*/
            let eventStartDate = info.event.start;
            let today = new Date();
            today.setHours(0, 0, 0, 0);

            if (eventStartDate < today) {
                /* Checks if the tutorial date is current and applies 
                modal or renders appropriate tutorial slot page. */
                info.jsEvent.preventDefault();
                var myModal = new bootstrap.Modal(document.getElementById('expiredModal'));
                myModal.show();
                return;
            } else {
                let eventId = info.event.id;
                let eventSlug = info.event.extendedProps.slug;
                let eventUrl = `/book-a-tutorial/${eventSlug}/${eventId}/`;
                location.href = eventUrl;
            }
        },
        });
    calendar.render();
    });
</script>
{% endblock %}