{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<!-- FullCalendar widget -->
<div class="container-fluid content-container p-0">
    <div class="container mt-5 p-3">
        <div class="row">
            <div class="col-12 mx-auto text-center">
                <h2>
                    Tutorial Calendar
                </h2>
            </div>
        </div>
    </div>
    <div class="container my-5 p-3 bg-light rounded shadow">
        <div class="row">
            <div class="col-12">
                <div id="tutorial-calendar" class="w-100"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Expired Modal starts here -->
<div class="modal" tabindex="-1" id="expiredModal" aria-labelledby="expiredModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expiredModalLabel">
                    Tutorial Date Expired
                </h5>
            </div>
            <div class="modal-body">
                <p>
                    This tutorial is no longer available. Please select another available date.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Expired Modal ends here -->

<!-- Already Booked Modal starts here -->
<div class="modal" tabindex="-1" id="alreadyBookedModal" aria-labelledby="alreadyBookedModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alreadyBookedModalLabel">
                    Tutorial booking is not available.
                </h5>
            </div>
            <div class="modal-body">
                <p>
                    This tutorial has already been booked. Please select another available date.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Already Booked Modal ends here -->
{% endblock %}

{% block js %}
<!-- populates the event calendar -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let tutorialCalendar = document.getElementById('tutorial-calendar');

        let calendar = new FullCalendar.Calendar(tutorialCalendar, {
            initialView: window.innerWidth > 768 ? 'dayGridMonth' : (window.innerWidth > 576 ? 'timeGridWeek' : 'timeGridDay'),
            validRange: {
                start: '2024-08-01'
            },
            headerToolbar: {
                left: 'prev',
                center: 'title',
                right: 'next'
            },
            eventTimeFormat: {
                hour: 'numeric',
                meridiem: 'short'
            },
            events: [
                {% for event in events %}
                    {
                        title: '{{ event.title }}',
                        start: '{{ event.start_date }}T{{ event.start_time }}',
                        end: '{{ event.start_date }}T{{ event.end_time }}',
                        id: '{{ event.pk }}',
                        slug: '{{ event.slug }}',
                        is_booked: {{ event.is_booked | lower }}
                    },
        {% endfor %}
            ],
        /* Function that enables and disables clickable events
        based on the current date & time. Used resources noted in the Readme.*/
        eventClick: function (info) {
            let eventStartDate = info.event.start;
            let today = new Date();
            if (eventStartDate < today) {
                // Checks if the tutorial date & time are in the past and apply appropriate modal.
                info.jsEvent.preventDefault();
                let expiredEvent = new bootstrap.Modal(document.getElementById('expiredModal'));
                expiredEvent.show();
                return;
            } else if (info.event.extendedProps.is_booked) {
                // Checks if the event slot is already booked and applies appropriate modal.
                info.jsEvent.preventDefault();
                let alreadyBookedEvent = new bootstrap.Modal(document.getElementById('alreadyBookedModal'));
                alreadyBookedEvent.show();
                return;
            } else {
                // Loads each event's slot, ie non booked slots that are currently available, page.
                let eventId = info.event.id;
                let eventSlug = info.event.extendedProps.slug;
                let eventUrl = `/book-a-tutorial/${eventSlug}/${eventId}/`;
                location.href = eventUrl;
            }
        },
        // Initializes calendar view based on screen size
        windowResize: (view) => {
            calendar.changeView(
                window.innerWidth > 768 ? 'dayGridMonth'
                    : 'timeGridDay'
            );
        },
        // Creates a pop up text field upon hover over the event
        eventDidMount: function (info) {
            var tooltip = new bootstrap.Tooltip(info.el, {
                title: info.event.title,
                placement: 'top',
                trigger: 'hover',
                container: 'body'
            });
        },
        });
    calendar.render();
    });
</script>
{% endblock %}