{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid content-container pb-5 mx-auto index-image">
    <div class="container py-5 p-3">
        <div class="row">
            <div class="col-12 mx-auto text-center">
                <h1>
                    Update your tutorial date & time
                </h1>
            </div>
        </div>
    </div>
    <div class="container bg-light rounded shadow mb-5 p-3 form-width border">
        <h2 class="text-center mb-4">{{ booking.tutorial_date.tutorial.title }}</h2>
        {% if not available_tutorials and not other_tutorials %}
        <p class="text-center">There are no tutorial sessions available. Come back later to check.</p>
        {% elif not available_tutorials %}
        <p class="text-center">There are no other dates available for this tutorial. Feel
            free to choose another though!</p>
        {% elif available_tutorials|length > 0 and not other_tutorials %}
        <p class="text-center">Choose another date for your tutorial.</p>
        {% else %}
        <p class="text-center">Pick another date for your tutorial or choose a different tutorial.
        </p>
        {% endif %}

        <!-- Form -->
        <div class="container">
            <form method="POST" class="p-2 form">
                {% csrf_token %}
                {{ tutorial_form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn custom-btn-success mt-2">Update booking</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}