{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <div class="container">
    <div class="row row-cols-3">
        {% for tutorial in tutorial_list %} -->
        <!-- Individual Tutorial card -->
        <!-- <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ tutorial.tutorial.title }}</h5>
                <p class="card-text">{{ tutorial.tutorial_date }}</p>
                <p class="card-text">{{ tutorial.start_time }} - {{ tutorial.end_time }}</p>

            </div>
        </div>
        {% endfor %}
    </div>
</div> -->
<!-- Form -->
<div class="container">
    <form action="" method="POST" class="p-2 form">
        <h1 class="text-center">Change your tutorial date & time</h1>
        {% csrf_token %}
        {{ tutorial_form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Update booking</button>
        </div>
    </form>
</div>


{% endblock %}