{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="text-center">Change your {{ booking.tutorial_date.tutorial.title }} tutorial date & time</h1>

{% if not available_tutorials and not other_tutorials %}
    <h2 class="text-center">No available dates for all tutorials. Come back later to check.</h2>
{% elif not available_tutorials %}
    <h2 class="text-center">No other available dates for {{ booking.tutorial_date.tutorial.title }} tutorial. Feel free to
    choose another though!</h2>
{% elif available_tutorials|length > 0 and not other_tutorials %}
    <h2 class="text-center">Choose another date for your tutorial.</h2>
    {% else %}
    <h2 class="text-center">Pick another date or choose a different tutorial.
</h2>
{% endif %}

<!-- Form -->
<div class="container">
    <form action="" method="POST" class="p-2 form">

        {% csrf_token %}
        {{ tutorial_form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Update booking</button>
        </div>
    </form>
</div>


{% endblock %}