/* Global CSS variables */
:root {
  --main-button-color: #EB9486;
  --main-button-border-color: rgba(235, 148, 134, .5);
  --hover-button-color: #E26350;
  --success-button-color: #64A19D;
  --success-hover-button-color: #4E7E7C;
  --success-button-border-color: rgba(78, 126, 124, .5);
  --background-color: #FAF9F6;
  --dark-text: #131200;
  --light-text: #FAF9F6;
  --header-footer: #F5F9E9;
  --navigation: #64A19D;
  --gradient-color: #daeae9b8;
  --past-event-background: #DFE0E2;
  --past-event-text: #A9ACB1;

  /* Fonts */
  --primary-font: "Poppins", system-ui;
  --secondary-font: "Raleway", sans-serif;

  /* Full Calendar root styles */
  --fc-today-bg-color: #F5F9E9;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--secondary-font);
  color: var(--dark-text);
  background-color: var(--background-color);
}

/* General styles */
main {
  background-color: var(--background-color);
}

/* Django Messages styles */
.alert {
  border-radius: 0.25rem;
  width: auto;
  max-width: 600px;
  height: auto;
}

.alert-success,
.alert-error {
  margin-top: 72px;
}

.alert-success {
  background-color: var(--gradient-color);
}

/* alert-error style taken from Stackoverflow thread (noted in the Testing.md */
.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Container styles */
.content-container {
  margin-top: 56px;
}

/* Button styles */
.custom-btn {
  background-color: var(--main-button-color);
  border-color: var(--main-button-color);
  color: var(--dark-text);
}

.custom-btn:hover,
.custom-btn:active,
.custom-btn:active:focus,
.custom-btn:focus-visible,
.custom-btn:first-child:active,
:not(.custom-btn-check)+.custom-btn:active {
  background-color: var(--hover-button-color);
  border-color: var(--hover-button-color);
  color: var(--light-text);
}

.custom-btn:focus,
.custom-btn:focus-visible,
.custom-btn:active:focus-visible,
:not(.custom-btn-check)+.custom-btn:active:focus-visible {
  box-shadow: 0 0 0 .25rem var(--main-button-border-color);
}

.custom-btn-success {
  background-color: var(--success-button-color);
  border-color: var(--success-button-color);
  color: var(--light-text);
}

.custom-btn-success:hover,
.custom-btn-success:active,
.custom-btn-success:active:focus,
.custom-btn-success:focus-visible,
.custom-btn-success:first-child:active,
:not(.custom-btn-success-check)+.custom-btn-success:active {
  background-color: var(--success-hover-button-color);
  border-color: var(--success-hover-button-color);
  color: var(--light-text);
}

.custom-btn-success:focus,
.custom-btn-success:focus-visible,
.custom-btn-success:active:focus-visible,
:not(.custom-btn-success-check)+.custom-btn-success:active:focus-visible {
  box-shadow: 0 0 0 .25rem var(--success-button-border-color);
}

/* Modal styles */
.modal-header,
.modal-footer {
  background-color: var(--header-footer);
}

/* Shared image styles */
.profile-image,
.tutorial-image {
  width: 50%;
}

.profile-image,
.tutorial-detail-image {
  border-radius: 0.375rem;
}

.tutorial-image,
.tutorial-detail-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Header styles */
.navbar-brand {
  font-family: var(--primary-font);
  font-weight: bold;
}

#mainNav {
  background-color: var(--header-footer);
}

/* Appropriated from Grayscale css code (noted in the readme) */
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid var(--navigation);
}

/* GRAYSCALE Template's footer css code */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-brand {
  margin-right: 0;
}

nav.navbar .navbar-nav .nav-link,
.navbar .navbar-text {
  color: #131200;
}

.active {
  font-weight: bold;
}

/* End of Header */

/* Account & index pages */
.signup-card-body {
  padding: 2rem;
}

/* Main */
/* Index page */
.card-logo {
  font-family: var(--primary-font);
}

.index-image {
  background: linear-gradient(180deg, #daeae9b8, #daeae9b8), url(../images/white-hoop.webp) no-repeat center;
  background-size: cover;
  width: 100%;
}

.index-card {
  max-width: 600px;
  border-radius: 10px;
}

.index-card a {
  margin-bottom: 8px;
}

/* Tutorial List page */
.card-footer {
  border-top: none;
  padding-bottom: 16px;
}

/* About page, Tutorial detail & Tutorial session */
.custom-card-background {
  background-color: var(--background-color);
}

/* Book a tutorial/calendar page*/
/* Full Calendar CSS styles */
.fc-v-event .fc-event-main {
  color: var(--dark-text);
}

.fc-toolbar-title {
  text-align: center;
}

thead {
  background: var(--gradient-color);
}

a.fc-col-header-cell-cushion,
.fc-daygrid-day-top a,
.fc-daygrid-event-harness a {
  color: var(--dark-text);
}

.fc .fc-daygrid-day-number {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: var(--gradient-color);
}

.fc-daygrid-event-dot {
  border: none;
}

.fc-daygrid-event:hover .fc-event-title,
.fc-daygrid-event:hover .fc-event-time {
  cursor: pointer;
}

/* Day view */
a.fc-event.fc-event-start.fc-event-end.fc-event-past.fc-timegrid-event.fc-v-event {
  background: var(--past-event-background);
  border-color: var(--past-event-background);
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}

a.fc-event.fc-event-start.fc-event-end.fc-event-future.fc-timegrid-event.fc-v-event {
  background: var(--main-button-border-color);
  border-color: var(--main-button-border-color);
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}

/* Month view */
a.fc-event.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-dot-event {
  background: var(--past-event-background);
  color: var(--past-event-text);
}

a.fc-event.fc-event-start.fc-event-end.fc-event-future.fc-daygrid-event.fc-daygrid-dot-event {
  background: var(--main-button-border-color);
  color: var(--dark-text);
  padding-right: 0.25rem;
}

/* Footer styles*/
footer {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--header-footer);
  color: var(--dark-text);
}

footer.footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* STYLISH TEMPLATE FOOTER CODE*/
footer.footer .social-link {
  display: block;
  text-decoration: none;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: var(--navigation);
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.list-inline-item {
  display: inline-block;
}

.rounded-circle {
  border-radius: 50% !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

/* End of Footer */

/* Media queries */
@media (min-width: 270px) {

  /* About page */
  .custom-card-body {
    padding-left: 0;
    padding-right: 0;
    background-color: var(--background-color);
  }

  .custom-card-footer {
    padding-left: 0;
    padding-left: 0;
  }

  /* My Tutorials page */
  .my-tutorial-button {
    margin-bottom: 1rem;
  }
}

@media (min-width: 342px) {

  /* My Tutorials page */
  .my-tutorial-button {
    margin-bottom: 0;
  }

  .no-tutorials-spacing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .center-card-title {
    text-align: center;
  }
}

@media (min-width: 768px) {

  /* About page */
  #about-heading {
    margin-top: 1rem;
  }

  /* Tutorial detail page */
  #container-margin {
    margin-top: 1.5rem;
  }

  .custom-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .custom-card-footer {
    padding-left: 0;
    padding-right: 16px;
  }

  /* Edit booking page */
  .form-width {
    max-width: 600px;
  }
}

@media (min-width: 992px) {

  /* Tutorial detail page */
  .tutorial-detail-image {
    height: 220px;
  }

  /* Footer */
  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}