/* Global CSS variables */
:root {
  --main-button-color: #EB9486;
  --hover-button-color: #E26350;
  --background-color: #FAF9F6;
  --dark-text: #131200;
  --light-text: #FAF9F6;
  --header-footer: #F5F9E9;
  --navigation: #64A19D;

  /* Fonts */
  --primary-font: "Poppins", system-ui;
  --secondary-font: "Raleway", sans-serif;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--secondary-font);
  color: var(--dark-text);
}

.btn,
.btn-primary {
  background-color: var(--main-button-color) !important;
  border-color: var(--main-button-color) !important;
  color: var(--dark-text);
}

.btn:hover,
.btn-primary:hover {
  background-color: var(--hover-button-color);
  border-color: var(--hover-button-color);
  color: var(--background-color);
}

.btn:focus,
.btn-primary:focus,
.btn:focus-visible,
.btn:active:focus-visible,
.btn-primary:active:focus {
  box-shadow: 0 0 0 .25rem rgba(235, 148, 134, .5);
}

/* Header styles */
.navbar-brand {
  font-family: var(--primary-font);
  font-weight: bold;
}

#mainNav {
  background-color: var(--header-footer);
}

/* Appropriated from Grayscale css code (noted in the readme) */
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid var(--navigation);
}

/* REMEMBER TO CHECK THE BACKGROUND COLOUR FOR THE DROP DOWN MENU IN THE SMALLER THAN 992PX VIEW */
/* GRAYSCALE TEMPLATE's css code */
.navbar-nav {
  position: relative;
  margin-top: 8px;
}

.navbar-brand {
  margin-right: 0;
}

.nav-item>a,
.nav-user {
  color: #131200;
}

.active {
  font-weight: bold;
}
/* End of Header */

/* Message */
.custom-message-margin {
  margin-bottom: 0;
}

/* Main */
/* Index page */
.card-logo {
  font-family: var(--primary-font);
}

.index-image {
  background: linear-gradient(180deg, #64a19d30, #64a19d30), url(../images/white-hoop.webp) no-repeat center;
  background-size: cover;
  width: 100%;
}

.index-card {
  max-width: 600px;
  background-color: var(--header-footer);
  border-radius: 10px;
}

.index-card a {
  margin-bottom: 8px;
}

/* End of Index page */

/* About page */
.profile-image,
.tutorial-image {
  width: 50%;
}

/* Tutorial List page */
.card-footer {
  background-color: none;
  border-top: none;
  padding-bottom: 16px;
}

/* Tutorial List & Tutorial detail pages */
.tutorial-image,
.tutorial-detail-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Book a tutorial/calendar page line81*/
.fc-daygrid-event .fc-event-title {
  white-space: normal;
  text-overflow: ellipsis;
  max-height: 20px;
}

.fc-daygrid-event:hover .fc-event-title {
  max-height: none !important;
}

/* Footer styles*/
footer {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--header-footer);
  color: var(--dark-text);
}

footer.footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* STYLISH TEMPLATE's CODE*/
footer.footer .social-link {
  display: block;
  text-decoration: none;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: var(--navigation);
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.list-inline-item {
  display: inline-block;
}

.rounded-circle {
  border-radius: 50% !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

/* End of Footer */

/* Media queries */
@media (min-width: 270px) {
  /* About page */
  .custom-card-body {
    padding-left: 0;
    padding-right: 0;
  }

  .about-card-footer {
    padding-left: 0;
    padding-left: 0;
  }

  /* My Tutorials page */

  .my-tutorial-button {
    margin-bottom: 1rem;
  }
}


@media (min-width: 342px) {
  /* My Tutorials page */

  .my-tutorial-button {
    margin-bottom: 0;
  }

  .no-tutorials-spacing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (min-width: 768px) {
  /* About page */
  #about-heading {
    margin-top: 1rem;
  }

  /* Tutorial detail page */
  #container-margin {
    margin-top: 1.5rem;
  }

  .custom-card-body {
    padding: 0 1rem 1rem;
  }

  .custom-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .about-card-footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* Edit booking page */
  .form-width {
    max-width: 600px;
  }

}

@media (min-width: 992px) {
  /* Tutorial detail page */
  .tutorial-detail-image {
    height: 220px;
  }

  /* Footer */
  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}