{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex container-fluid align-items-center index-image">
    <div class="d-flex container justify-content-center">
        <div class="card index-card">
            <div class="card-body text-center">
                <!-- <h1>&#8203;</h1> -->
                <h1 class="mx-auto my-0 ">Oops..Access is not allowed!</h1>
                <small> <strong> ERROR: 403 </strong></small>
                <p class="text-dark-50 mx-auto mt-5">Seems like you don't have permissions to access this content...</p>
                <p class="text-dark-50 mx-auto mb-4">Try another page.</p>
                <a class="btn btn-primary mb-2" href="{% url 'home' %}" aria-label="Home">Return to Home page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}