{% load static %}

<!-- Footer -->
<footer class="">
    <div class="">
        <ul class="">
            <li class="">
                <a class="" href="https://www.linkedin.com/in/laurakondrataite/">
                    <i class="icon-social-linkedin" aria-label="Visit my LinkedIn page">LinkedIn</i>
                </a>
            </li>
            <li class="">
                <a class="" href="https://www.instagram.com/stitch_ballerina/" aria-label="Visit my Instagram page">
                    <i class="icon-social-instagram">Instagram</i>
                </a>
            </li>
            <li class="">
                <a class="" href="https://github.com/laurakond" aria-label="Visit my Github page">
                    <i class="icon-social-github">Github</i>
                </a>
            </li>
        </ul>
        <p class="">Created for educational purposes only 2024</p>
    </div>
</footer>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" href="#page-top" aria-label="Scroll to top">
    <i class="fas fa-angle-up"></i>
</a>