{% load static %}

<!-- Footer -->
<footer class="footer text-center flex-shrink-0 g-0">
    <div class="container px-4 px-lg-5">
        <ul class="list-inline mb-4">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://www.linkedin.com/in/laurakondrataite/" target="_blank" aria-label="Visit my LinkedIn page">
                    <i class="icon-social-linkedin"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/stitch_ballerina/" target="_blank" aria-label="Visit my Instagram page">
                    <i class="icon-social-instagram"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link text-white rounded-circle" href="https://github.com/laurakond" target="_blank" aria-label="Visit my Github page">
                    <i class="icon-social-github"></i>
                </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Created for educational purposes only 2024</p>
    </div>
</footer>