{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Stitch Art Guides</title>
</head>

<body>

    <!-- navigation -->
    <nav>Header goes here</nav>

    {% block content %}
    <!-- Content for each page goes here -->
    {% endblock %}

    <!-- Footer -->
    <footer>Footer goes here</footer>
</body>

</html>