* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100dvw;
}

/* Header styles */
#mainNav {
  background-color: bisque;
}

/* Appropriated from Grayscale css code (noted in the readme) */
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

/* REMEMBER TO CHECK THE BACKGROUND COLOUR FOR THE DROP DOWN MENU IN THE SMALLER THAN 992PX VIEW */
/* GRAYSCALE TEMPLATE's css code */
.navbar-nav {
  /* z-index: 1999; */
  position: relative;
  background: white;
  margin-top: 8px;
}

.navbar-brand {
  margin-right: 0;
}
/* End of Header */

/* Main */

/* Index page */
main {
  padding-top: 64px;
  /* padding-bottom: 80px; */
}

#index-container {
  min-height: calc(100vh - 226px);
  overflow: visible;
}

#about-container {
  min-height: calc(100vh - 245px);
}

.index-image {
  background: linear-gradient(180deg, #ddd8d888, #ddd8d888), url(../images/white-hoop.webp) no-repeat center;
  background-size: cover;
  width: 100%;
}

.index-card {
  max-width: 600px;
  background-color: goldenrod;
  border-radius: 10px;
  padding: 16px;
  /* opacity: 0.5; */
}
/* End of Index page */

/* About page */
.profile-image {
  width: 75%;
}

/* Footer styles*/
footer {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

footer.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* STYLISH TEMPLATE's CODE*/
footer.footer .social-link {
  display: block;
  text-decoration: none;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.list-inline-item {
  display: inline-block;
}

.rounded-circle {
  border-radius: 50% !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

/* End of Footer */

/* Media queries */

@media (min-width: 767px) {

  #about-container {
    min-height: auto;
  }

  #about-heading {
    margin-top: 1rem;
  }
}

@media (min-width: 992px) {

  /* Footer */
  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}